#top_nav {
  //border: 1px solid blue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: $page-title-color;
  height: 70px;
  flex: 1;

}
.top-nav-container{
  border: 1px solid blue;
}
.top-nav-wrapper{
  //border: 1px solid red;
  display: inline-flex;
}
.top-nav-list {
  display:inline;
  //border: 1px solid yellow;
  display: inline-flex;
  align-items: center;
  a:hover{
    transform: translate(-3px, -3px);

  }
  li{
    display: flex;
  }

  .amount-user-wrapper {
  //  border: 1px solid green;
    display: flex;
    align-items: center;
    padding: 0 15px;
    position: relative;
    //margin: 0 10px;

    .total-amount {
      font-size: 18px;
      font-weight: 600;
      padding: 0 20px;
    }
    .user-name{
      color: $links-color;
      font-size: 13px;
      font-weight: 100;
      padding: 0 10px;
    }
    .dot{
      background: $buttons-color;
      margin-bottom: 15px;
      margin-left: 10px;
    }
  }
}

/*Media Query*/
/*@media only screen and (max-width: 768px) {
#top_nav {
  //order: 1;
  display: none;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

#top_nav {
  //order: 1;
  display: none;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }


// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

}*/
