

.links-table {
  margin: 0 auto;
  border-collapse: collapse;
  transition: $transition;
  width: 100%;

  th {
    text-align: left;
    padding: 15px 5px;
  }

  td {
    text-align: center;
  }

  tr {
    border-bottom: 1px solid $background-color;
    border-top: 1px solid $background-color;
    z-index: 1;

    &:hover {
      background-color: $table-background;
    }
  }

  .link-address {
    color: $links-color;
  }
}

.links-img {
  filter: grayscale(150%) brightness(150%) sepia(60%) hue-rotate(5deg) saturate(500%) contrast(0.9);
}

.links-icon {
  margin-left: 10px;
  opacity: 0;
}

.links-table tr:hover .links-icon {
  opacity: 1;
}
