/*Media Query*/
@media (max-width: 420px) {
  .top-nav-list .amount-user-wrapper .total-amount {
    display: none;
  }
  .links-table th {
    font-size: 11px;
  }
}
// Small devices (landscape phones, 576px)
@media (max-width: 575.98px) {
  body {
    display: block;
  }

  .col-1 {
    display: flex;
    height: 70px;
  }

  .earnings-chart-box {
    margin: 0 5px;
    padding: 5px;
  }

  .content {
    height: 85vh;
  }

  .links-table {
    width: 100%;
  }

  .general-wrapper .dot {
    left: 1px;
  }
  .general-wrapper{
    padding: 20px 5px;
  }

  .calendar-table p {
    margin-right: 10px;
  }

  .button {
    padding: 5px;
  }

  #top_nav {
    display: none;
  }

  #top_nav.show {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    z-index: 5;
    background:  $sidebar-nav;
    border-top: 1px solid $side-bar-font-color;
    border-bottom: 1px solid $side-bar-font-color;
    height: 50px;
  }

  .top-nav-list .amount-user-wrapper {
    border-style: none;
  }

  .chart-container {
    width: 100%;
  }

  #sidebar {
    width: 100%;
    z-index: 5;

    .title-wrapper {
      display: flex;
      justify-content: space-between;
    }

    .title {
      display: flex;
    }

    .icon-wrapper {
      padding: 15px;
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }

  .sidebar-manager {
    margin: 0;
  }

  .sidebar-menu {
    display: none;
    overflow-y: scroll;
    height: 80vh;
  }

  .sidebar-menu.show {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
  }

  .links-table th, .data-table th {
      font-size: 12px;

  }
  .links-table td, .data-table td {
      font-size: 12px;

  }
  .links-icon{
    opacity: 1;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .sidebar-menu {
    overflow-y: auto;
    height: 80vh;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .links-table {
    width: 80%;
  }
  .sidebar-menu {
    overflow-y: auto;
    height: 80vh;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .chart-container {
    width: 80%;
  }

  .links-table {
    width: 60%;
  }

  .sidebar-manager .manager-wrapper {
    padding-right: 40px;
  }

  .sidebar-manager .manager-title {
    padding-right: 50px;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .chart-container {
    width: 60%;
  }
}

@media (orientation: landscape) {
  .sidebar {
    overflow-y: scroll;
  }
}
